name: Publish Latest Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "sandbox/full.Dockerfile"
      - "sandbox/slim.Dockerfile"

permissions:
  packages: write
  contents: read

jobs:
  publish-docker:
    name: Publish Latest Docker Image
    runs-on: non-prod
    strategy:
      matrix:
        include:
          - dockerfile: full.Dockerfile
            image: sandbox-full
          - dockerfile: slim.Dockerfile
            image: sandbox-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./sandbox
          file: ./sandbox/${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/timescale/hermes/${{ matrix.image }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
